/* styling header */
header {
  background-color: peachpuff;
  padding: 1px;
  font-size: 18px;
  color: black;
  font-family: cursive;
  line-height:0.5;
}

/* styling for my photo */
div img {
  background-color: plum;
  margin:5px;
  align-content: center;
  border-radius: 10%;
}

/* styling for footer */
footer {
  background-color: peachpuff;
  padding: 25px;
  color: indigo;
  font-family: cursive;
}

/* styling for main */
main {
  background-color: plum;
  padding: 100px;
  color: white;
  font-family: comic sans;
  font-size: 18px;
  line-height:1.5;
}

.text-center {
  text-align: center;
}

.wrapper {
  width: 400px;
  margin: auto;
}

/* pseudo-classes for links (LoVe HAte) */
a:link {
  color:white;
}

a:visited {
  color: black;
}

a:hover {
  color:seagreen;
}

a:active {
  color:cadetblue;
}

  
